<mat-card>

  <mat-card-title>
    FIFA World Clique 2022
  </mat-card-title>

  <mat-card-subtitle>
    Connexion via MyClique
  </mat-card-subtitle>

  <mat-card-content>
<!-- 
    <form (ngSubmit)="login1()">
      <p>
        <mat-form-field>
          <mat-label>N° de GSM</mat-label>
          <span matPrefix>+32 🇧🇪 &nbsp;</span>
          <input type="tel" matInput placeholder="(Ex. 0498123456)" [(ngModel)]="phone" name="phone">
          <mat-icon matSuffix>perm_phone_msg</mat-icon>
        </mat-form-field>
      </p>
    </form>

    <form (ngSubmit)="login2()" *ngIf="verificationId !== ''">
      <p>
        Un SMS a été envoyé au {{ formatedPhone }}.
      </p>
      <p>
        Complétez le code reçu ci-dessous.
      </p>
      <p>
        <mat-form-field>
          <mat-label>Confirmation par SMS</mat-label>
          <input matInput [(ngModel)]="verificationCode" name="confirmation" inputmode="numeric">
        </mat-form-field>
      </p>
    </form>

    <p>
      {{ error }}
    </p>
 -->
  </mat-card-content>

  <mat-card-footer>
    <div id="recaptcha-container"></div>
    <mat-progress-bar mode="indeterminate" *ngIf="processing"></mat-progress-bar>
  </mat-card-footer>
<!-- 
  <mat-card-actions align="end">
    <button mat-button
      *ngIf="verificationId !== '' && !processing"
      (click)="login1()"
    >Réenvoyer</button>

    <button mat-button mat-dialog-close>Annuler</button>

    <button mat-flat-button
      *ngIf="verificationId === '' && !processing"
      color="primary"
      (click)="login1()"
    >Connexion</button>

    <button mat-flat-button
      color="primary"
      (click)="login2()"
      *ngIf="verificationId !== '' && !processing"
    >Connexion</button>
  </mat-card-actions>
 -->
</mat-card>
