<h2>
  <span>{{ morceau.name }}</span>
  <button mat-icon-button
    *ngIf="morceau?.mp3"
    (click)="togglePlay()">
    <mat-icon>{{ playing ? 'pause_circle' : 'play_circle' }}</mat-icon>
  </button>
</h2>

<div [innerHTML]="mdDescription"></div>
