<h1>Règlement</h1>

<p>
  Un match correspond à un sondage opposant deux morceaux de la Clique.
  Chaque membre peut voter sur tous les sondages une seule
  fois. Le match est remporté par le morceau ayant reçu le plus grand
  nombre de votes.
</p>

<p>
  Chaque sondage est ouvert dès le moment où les deux morceaux participants
  sont connus, et se referme 105 minutes après l'heure annoncée.
</p>

<h2>Phase de groupes</h2>

<p>Chaque match gagné rapporte 3 points. En cas de match nul, 1 point.</p>

<p>
  Si la différence de vote est inférieure ou égale à
  {{ tieDiff }}
  votes, le match est considéré comme nul.
</p>

<p>
  Les deux meilleurs morceaux de chaque groupe avancent
  en phase d’élimination directe.
</p>

<h3>Règles de départage</h3>
<p>
  Si deux morceaux ou plus sont à égalité aux points à la fin des matches
  de groupe, les critères de départage suivants sont appliqués :
</p>
<ol>
  <li>
    Plus grand nombre de points obtenus dans les matches de
    groupe disputés entre les morceaux concernés ;
  </li>
  <li>
    Meilleure différence de votes dans les matches de
    groupe disputés entre les morceaux concernés ;
  </li>
  <li>
    Plus grand nombre de votes marqués dans les matches
    de groupe disputés entre les morceaux concernés ;
  </li>
  <li>
    Si, après l’application des critères 1, 2 et 3
    plusieurs morceaux sont toujours à égalité, les critères 1, 2 et 3
    sont à nouveau appliqués exclusivement aux matches entre
    les morceaux restants afin de déterminer leur classement final.
    Si cette procédure ne donne pas de résultat, les critères 5 à 8
    s’appliquent dans l'ordre indiqué aux morceaux encore à égalité ;
  </li>
  <li>
    Meilleure différence de votes générale ;
  </li>
  <li>
    Plus grand nombre de votes marqués ;
  </li>
  <li>
    Plus grand nombre de victoires ;
  </li>
  <li>
    Décision finale par l'organisateur.
  </li>
</ol>

<h2>Phase à élimination directe</h2>

<p>
  Le morceau qui reçoit le moins de votes est éliminé.
  Celui qui reçoit le plus de votes avance dans la phase suivante.
  En cas d’égalité, les critères de départage suivants sont appliqués :
</p>

<ol>
  <li>
    (si applicable) Plus grand nombre de points obtenus dans
    les matches de groupe disputés entre les morceaux concernés ;
  </li>
  <li>
    (si applicable) Meilleure différence de votes dans les matches
    de groupe disputés entre les morceaux concernés ;
  </li>
  <li>
    (si applicable) Plus grand nombre de votes marqués dans les
    matches de groupe disputés entre les morceaux concernés ;
  </li>
  <li>
    Meilleure différence de votes générale (toutes phases confondues) ;
  </li>
  <li>
    Plus grand nombre de votes marqués (toutes phases confondues) ;
  </li>
  <li>
    Plus grand nombre de victoires ;
  </li>
  <li>
    Décision finale par l'organisateur
  </li>
</ol>


<h1>A propos</h1>

<p>
  La clique de la Royale Garde Saint-Jean de Herve
  est un groupement musical composé de tambours,
  de clairons et de cors de chasse. Pour en savoir davantage,
  <a href="https://cliquergsj.be/">consultez notre site CliqueRGSJ.be</a>.
</p>

<p>
  Événement organisé pour la Clique par <a href="mailto:thomas.chandelle@gmail.com">Thomas Chandelle</a>.
</p>
<p>
  Frontend réalisé avec <a href="https://angular.io/">Angular</a>.
</p>
<p>
  Backend fourni par <a href="https://firebase.google.com/">Firebase</a>.
</p>
<p>
  <a href="https://gitlab.com/cliquergsj/mondial-2022">Code source hébergé sur GitLab</a>, sous licence MIT.
</p>
