<h2>
	<button mat-icon-button
		*ngIf="morceau?.mp3"
		(click)="togglePlay()">
		<mat-icon>{{ playing ? 'pause_circle' : 'play_circle' }}</mat-icon>
	</button>

	{{ morceau?.name }}
</h2>

<p *ngIf="morceau?.handicap" class="handicap">
	Handicap: {{ morceau?.handicap }}
</p>

<p *ngIf="morceau?.description">
	{{ descriptionSample }}
	<a href="javascript:;" (click)="readMore()" *ngIf="hasMore">Lire plus</a>
</p>

<ng-template #descriptionTemplate>
	<h1 mat-dialog-title>{{ morceau?.name }}</h1>

	<mat-dialog-content [innerHTML]="mdDescription">
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close cdkFocusInitial>Fermer</button>
	</mat-dialog-actions>
</ng-template>
