<mat-spinner *ngIf="loading"></mat-spinner>

<div class="matches">
  <app-mini-match
    *ngFor="let match of (matches$ | async) as list; index as i; trackBy: trackBy"
    [match]="match">
  </app-mini-match>
</div>
