<mat-radio-group
  [disabled]="!votable"
  [value]="vote$ | async"
  (change)="voteFor($event.value)"
  color="primary">

<a [routerLink]="['/match', match.id]" matRipple>

<div class="teams">
  <div class="team team-left"
      [class.team-winner]="match.winner === 'left'"
      [class.team-loser]="match.winner === 'right'"
  >
    <mat-radio-button
      *ngIf="!loadingVote"
      value="left"
      (click)="$event.cancelBubble = true">
    </mat-radio-button>
    <span class="team-name">
      {{ getName$('left') | async }}
    </span>
    <span class="team-score" *ngIf="match.winner">
      {{ match.leftPoints }}
    </span>
    <mat-icon class="win-icon">arrow_left</mat-icon>
  </div>
  <div class="team team-right"
      [class.team-winner]="match.winner === 'right'"
      [class.team-loser]="match.winner === 'left'"
  >
    <mat-radio-button
      *ngIf="!loadingVote"
      value="right"
      (click)="$event.cancelBubble = true">
    </mat-radio-button>
    <span class="team-name">
      {{ getName$('right') | async }}
    </span>
    <span class="team-score" *ngIf="match.winner">
      {{ match.rightPoints }}
    </span>
    <mat-icon class="win-icon">arrow_left</mat-icon>
  </div>
</div>

<div class="timing">
  <div *ngIf="match.winner === 'tie'" class="tie">
    Match nul
  </div>

  <div *ngIf="match.winner">Terminé</div>

  {{ match.date.toDate() | date:'EEE d/M' }}
  <div *ngIf="!match.winner">
    {{ match.date.toDate() | date:'shortTime' }}
  </div>
</div>

</a>

</mat-radio-group>
