<mat-spinner *ngIf="loading"></mat-spinner>

<div class="morceaux">
  <app-mini-morceau
    *ngFor="let morceau of (morceaux$ | async) as list; index as i; trackBy: trackBy"
    [morceau]="morceau">
  </app-mini-morceau>
</div>
