<table mat-table [dataSource]="members$"
    [trackBy]="trackBy">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let g">{{ g.id }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Morceau</th>
    <td mat-cell *matCellDef="let g">
      <mat-form-field>
        <mat-select
        (selectionChange)="update(g, $event.value)"
          [value]="g.morceau?.id">
          <mat-option *ngFor="let morceau of morceaux$ | async"
            [value]="morceau.id">
            {{ morceau.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Pts</th>
    <td mat-cell *matCellDef="let g">{{ g.points }} </td>
  </ng-container>
  <ng-container matColumnDef="played">
    <th mat-header-cell *matHeaderCellDef>J</th>
    <td mat-cell *matCellDef="let g">{{ g.played }} </td>
  </ng-container>
  <ng-container matColumnDef="won">
    <th mat-header-cell *matHeaderCellDef>G</th>
    <td mat-cell *matCellDef="let g">{{ g.won }} </td>
  </ng-container>
  <ng-container matColumnDef="drawn">
    <th mat-header-cell *matHeaderCellDef>N</th>
    <td mat-cell *matCellDef="let g">{{ g.drawn }} </td>
  </ng-container>
  <ng-container matColumnDef="lose">
    <th mat-header-cell *matHeaderCellDef>P</th>
    <td mat-cell *matCellDef="let g">{{ g.lose }} </td>
  </ng-container>
  <ng-container matColumnDef="goalsFor">
    <th mat-header-cell *matHeaderCellDef>Bp</th>
    <td mat-cell *matCellDef="let g">{{ g.goalsFor }} </td>
  </ng-container>
  <ng-container matColumnDef="goalsAgainst">
    <th mat-header-cell *matHeaderCellDef>Bc</th>
    <td mat-cell *matCellDef="let g">{{ g.goalsAgainst }} </td>
  </ng-container>
  <ng-container matColumnDef="goalsDifference">
    <th mat-header-cell *matHeaderCellDef>Diff</th>
    <td mat-cell *matCellDef="let g">{{ g.goalsDifference }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
