:host {
  padding: 16px;
  display: block;

  > .logo {
    float: right;
    width: 350px;
    margin: 16px 0;
  }

  @media only screen and (max-width: 550px) {
    text-align: center;
    > .logo {
      float: none;
    }
  }

  > .matches {
    text-align: initial;
  }

  > h2 {
    margin-top: 16px;
  }

  .big-next {
    width: 100%;
    margin: 8px 0 64px;
  }
}

