

<ng-container *ngIf="(user.isConnected | async); else disconnected">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
    <span *ngIf="(isHandset$ | async) === false">{{ user.displayName$ | async }}</span>
  </button>
</ng-container>

<ng-template #disconnected>
  <a mat-button
      routerLink="/login" [queryParams]="{from: router.url}">
    <mat-icon>login</mat-icon>Connexion
  </a>
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="(isHandset$ | async) === true">
    {{ user.displayName$ | async }}
  </button>
  <a mat-menu-item
    routerLink="/admin"
    *ngIf="user.isAdmin$ | async"
  >
    Administration
  </a>
  <button mat-menu-item (click)="user.logout()">
    <mat-icon>logout</mat-icon>Se déconnecter
  </button>
</mat-menu>
