<nav mat-tab-nav-bar>
  <a mat-tab-link
    routerLink="./a"
    routerLinkActive #a="routerLinkActive"
    [active]="a.isActive">
    A
  </a>
  <a mat-tab-link
    routerLink="./b"
    routerLinkActive #b="routerLinkActive"
    [active]="b.isActive">
    B
  </a>
  <a mat-tab-link
    routerLink="./c"
    routerLinkActive #c="routerLinkActive"
    [active]="c.isActive">
    C
  </a>
  <a mat-tab-link
    routerLink="./d"
    routerLinkActive #d="routerLinkActive"
    [active]="d.isActive">
    D
  </a>
  <a mat-tab-link
    routerLink="./e"
    routerLinkActive #e="routerLinkActive"
    [active]="e.isActive">
    E
  </a>
  <a mat-tab-link
    routerLink="./f"
    routerLinkActive #f="routerLinkActive"
    [active]="f.isActive">
    F
  </a>
  <a mat-tab-link
    routerLink="./g"
    routerLinkActive #g="routerLinkActive"
    [active]="g.isActive">
    G
  </a>
  <a mat-tab-link
    routerLink="./h"
    routerLinkActive #h="routerLinkActive"
    [active]="h.isActive">
    H
  </a>
</nav>

<router-outlet></router-outlet>
