<ng-container *ngIf="leftParent$ | async as leftMatch">
  <ng-container *ngIf="rightParent$ | async as rightMatch">
    <div>
      <app-bracket [match]="leftMatch">
      </app-bracket>
      <app-bracket [match]="rightMatch">
      </app-bracket>
    </div>

    <div class="bracket">
      <div class="left"></div>
      <div class="right"></div>
    </div>

  </ng-container>
</ng-container>

<app-knockout-match [match]="match">
</app-knockout-match>
