<h2>
  {{ typeServ.getLabel((type$ | async)!) }}

  <button mat-icon-button
    [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</h2>

<mat-menu #menu="matMenu">
  <a mat-menu-item
    *ngFor="let type of types"
    [routerLink]="['./', type]"
  >
    {{ typeServ.getLabel(type) }}
  </a>
</mat-menu>

<a mat-stroked-button
  class="big-prev"
  *ngIf="prevType$ | async as prev"
  [routerLink]="['./', prev]"
  >
  {{ typeServ.getLabel(prev) }}
</a>

<router-outlet></router-outlet>

<a mat-stroked-button
  class="big-next"
  *ngIf="nextType$ | async as next"
  [routerLink]="['./', next]"
  >
  {{ typeServ.getLabel(next) }}
</a>
